.help-request-explanation {
	margin: 0 20px 40px;

	text-align: justify;

	font-style: italic;

	line-height: 1.4;
}
/*
.drawer {

	width: 600px;

	height: 400px;

	transition: transform .3s;
}

.drawer:hover {
	-ms-transform: scale(1.5); !* IE 9 *!
	-webkit-transform: scale(1.5); !* Safari 3-8 *!
	transform: scale(1.5);
}
*/
